<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Yelp Camp</title>
</head>

<body>
  <div class="navbar-fixed">
    <% if (currentUser && currentUser.isAdmin) { %>
      <nav class="yellow">
        <% } else { %>
          <nav class="blue">
            <% } %>
              <div class="container">
                <div class="nav-wrapper">
                  <a href="/" class="brand-logo">YelpCamp</a>
                  <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                  </a>
                  </a>
                  <ul class="right hide-on-med-and-down">
                    <% if(!currentUser) { %>
                      <li>
                        <a href="/login">Login</a>
                      </li>
                      <li>
                        <a href="/register">Register</a>
                      </li>
                      <% } else { %>
                        <!-- Dropdown Trigger -->
                        <li>
                          <a class="dropdown-trigger" href="#" data-target="dropdown1">
                            <%= currentUser.username %>
                              <i class="material-icons right">arrow_drop_down</i>
                          </a>
                        </li>
                        <% } %>
                  </ul>
                </div>
              </div>
          </nav>
  </div>

  <!-- Sidenav Structure -->
  <ul class="sidenav" id="mobile-nav">
    <p>
      <strong>Welcome to YelpCamp</strong>
    </p>
    <li>
      <div class="divider"></div>
    </li>
    <% if(!currentUser) { %>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      <% } else { %>
        <!-- Dropdown Trigger -->
        <li>
          <div class="user-view">
            <div class="background">
              <img src="https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91f0fc08cef6f3bfbb32b3adf0065f39&auto=format&fit=crop&w=1350&q=80">
            </div>
            <a href="#user">
              <img class="circle" src="<%= currentUser.avatar %>">
            </a>
            <a href="#email">
              <span class="white-text email">
                <%= currentUser.email %>
              </span>
            </a>
          </div>
        </li>
        <li>
          <a class="dropdown-trigger" href="#" data-target="dropdown2">
            <%= currentUser.username %>
              <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>

        <% } %>
  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li>
      <% if (currentUser) { %>
        <a href="/users/<%= currentUser.id %>">Profile</a>
        <% } %>
    </li>
    <li class="divider"></li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>

  <!-- Dropdown Structure -->
  <ul id="dropdown2" class="dropdown-content">
    <li>
      <% if (currentUser) { %>
        <a href="/users/<%= currentUser.id %>">Profile</a>
        <% } %>
    </li>
    <li class="divider"></li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>

  <div class="container">
    <% if (error && error.length > 0) { %>
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="card-panel red lighten-5">
            <span class="red-text darken-4">
              <strong>
                <%= error %>
              </strong>
            </span>
          </div>
        </div>
      </div>
      <% } %>
        <% if (success && success.length > 0) { %>
          <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel teal lighten-5">
                <span class="teal-text darken-4">
                  <strong>
                    <%= success %>
                  </strong>
                </span>
              </div>
            </div>
          </div>
          <% } %>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating waves-effect waves-light btn-large" href="/campgrounds/new">
      <i class="large material-icons">add</i>
    </a>
  </div>