<% include ../partials/header %>

  <div class="container">

    <div class="row">

      <div class="col s12 m3">
        <p class="flow-text">
          Yelp Camp
        </p>
        <div class="collection">
          <a href="#!" class="collection-item">Info 1</a>
          <a href="#!" class="collection-item active">Info 2</a>
          <a href="#!" class="collection-item">Info 3</a>
          <a href="#!" class="collection-item">Info 4</a>
        </div>
      </div>

      <div class="col m9">

        <div class="card">
          <div class="card-image">
            <img src="<%= campground.image %>" alt="<%= campground.name %>">
            <span class="card-title">
              <%= campground.name %>
            </span>
          </div>
          <div class="card-content">
            <span class="right-align">
              <h5>$
                <%= campground.price %>/night</h5>
            </span>
            <p>
              <%= campground.description %>
            </p>

            <br>
            <strong>
              Site Submitted By:
              <a href="/users/<%= campground.author.id %>">
                <em>
                  <%= campground.author.username %>
                </em>
              </a>

            </strong>,
            <%= moment(campground.createdAt).fromNow() %>

              <% if (currentUser && campground.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)) { %>
                <div class="divider"></div>

                <div class="action-btns">
                  <form id="deleteCampground" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                    <button class="waves-effect waves-light btn-small red darken-4 right-align">Delete</button>
                  </form>
                  <a class="waves-effect waves-light btn-small light-blue accent-2 right-align" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                </div>

                <% } %>

          </div>

        </div>



      </div>

    </div>

    <div class="row">
      <div class="col s12 m9 push-m3">


        <div class="card grey lighten-4">
          <div class="card-content right-align">
            <a class="waves-effect waves-light btn right-align" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
          </div>
          <div class="divider"></div>
          <div class="card-content">

            <% campground.comments.forEach(comment => { %>
              <div class="row">
                <div class="col s12 m12">
                  <strong>
                    <%= comment.author.username %>
                  </strong>
                  <span class="right">
                    <%= moment(comment.createdAt).fromNow() %>
                  </span>
                  <p>
                    <%= comment.text %>
                  </p>

                  <% if (currentUser && comment.author.id.equals(currentUser._id) || (currentUser && currentUser.isAdmin)) { %>
                    <span class="right">

                      <form id="deleteComment" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                        <button class="waves-effect waves-light btn-small red darken-4 right-align">Delete</button>
                      </form>
                      <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="waves-effect waves-light btn-small light-blue accent-2 right-align">Edit</a>

                    </span>
                    <% } %>

                </div>
              </div>
              <div class="divider"></div>

              <% }) %>

          </div>

        </div>

      </div>

    </div>

  </div>

  <% include ../partials/footer %>