<% include ../partials/header %>

  <div class="container">

    <div class="row">

      <h1>
        <%= campground.name %>
      </h1>

      <img class="responsive-img" src="<%= campground.image %>" alt="<%= campground.name %>">

      <p>
        <%= campground.description %>
      </p>

      <p>
        <a class="waves-effect waves-light btn" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
      </p>

      <% campground.comments.forEach(comment => { %>
        <p>
          <strong>
            <%= comment.author %>
          </strong> -
          <%= comment.text %>
        </p>
        <% }) %>

    </div>

  </div>

  <% include ../partials/footer %>